@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet');



@keyframes fun {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(1.02);
  }
  75% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes sun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: rgba(247, 210, 197, 0.836);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
  z-index: 0;
  color: #312f2f;
  transition: color 1s linear;
  
}

.button {
  display: flex;
  justify-content: flex-end;
  font-family: "Open Sans", sans-serif;
  margin-top: 16px;

  &__preview {
    margin-right: 10px;
    height: 36px;
    background: #fafafc;
    border: 1px solid #505565;
    color: #505565;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.11em;
  }
  &__save {
    height: 36px;
    background: #3e465f;
    border: 1px solid #505565;
    box-sizing: border-box;
    border-radius: 4px;
    color: whitesmoke;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.11em;
  }
  &__save:hover {
    background: rgba(41, 52, 87, 0.774);
    color: whitesmoke;
  }
  &__preview:hover {
    background-color: rgba(250, 250, 252, 0.781);
    color: rgba(62, 70, 95, 0.849);
  }
}

.editor {
  width: 100%;
  max-width: 736px;
  &__article {
    display: flex;
    flex-direction: column;
  }
  &__image {
    display: inline-block;
    position: fixed;
    width: 760px;
    height: 582px;
    left: 0px;
    top: 460px;
    bottom: 0px;
   
  }
  &__h {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 29px;
    line-height: 48px;
    letter-spacing: 0.11em;
    color: #2f2e41;
  }
  &__subtitle {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #2f2e41;
  }
}

.emojianimated {
  animation: sun 5s linear 3 reverse;
  display: inline-block;
  position: absolute;
  
}

.form {
  &__textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.11em;
    color: #2f2e41;
  }
}

